/* .navHeader {
    font-family: "Antonio Medium";
    margin: 0;
    font-size: 5vh;
    line-height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.mainNav{
    height:100%;
    display:grid;
    grid-template-columns: 3fr;
} */